.Polaris-List {
  list-style-type: none;
  padding-left: 0;
}

.Polaris-List--spacingLoose .Polaris-List__Item {
  margin-bottom: var(--p-space-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Polaris-Text__line--through .Polaris-Choice__Label {
  text-decoration: line-through;
}

.Polaris-ButtonGroup--variantSegmented,
.Polaris-SkeletonDisplayText--sizeSmall,
.Polaris-SkeletonDisplayText--sizeMedium:first-child{
  margin-bottom: var(--p-space-300);
}

.Polaris-Text--bodyLg{
  display: flex;
  align-items: center;
}
.Polaris-Layout__Section--oneThird .Polaris-Button{
  margin-top: var(--p-space-300);
}

.Polaris-SkeletonBodyText{
  height: 12px;
}

.Polaris-Text--bodyLg .Polaris-SkeletonDisplayText--sizeMedium{
  min-width: 44px;
  margin-left: 10px;
}

.Polaris-LegacyStack > .Polaris-LegacyStack__Item {
  margin-top: var(--p-space-200);
}

@media (min-width: 30.625em) {
  .Polaris-LegacyCard__Header {
    padding: var(--p-space-400) var(--p-space-400) 0
  }

  .Polaris-LegacyCard__Section {
    padding: var(--p-space-200) var(--p-space-400) var(--p-space-400);
  }
}